<form [formGroup]="modifyForm" (ngSubmit)="onSubmit()">
  <label>
    ID:
    <input formControlName="id" type="number">
    <div *ngIf="modifyForm.controls['id'].hasError('positiveNumber')">ID must be a positive number.</div>
    <div *ngIf="modifyForm.controls['id'].hasError('unique')">ID must be unique.</div>
  </label>
  <label>
    Title:
    <input formControlName="title" type="text">
    <div *ngIf="modifyForm.controls['title'].hasError('noSpecialChars')">Title cannot contain special characters.</div>
    <div *ngIf="modifyForm.controls['title'].hasError('unique')">Title must be unique.</div>
  </label>
  <label>
    Genre:
    <input formControlName="genre" type="text">
  </label>
  <label>
    Developer:
    <input formControlName="developer" type="text">
  </label>
  <label>
    Release Date:
    <input formControlName="releaseDate" type="date">
  </label>
  <label>
    Rating:
    <input formControlName="rating" type="text" placeholder="e.g., 9.5">
  </label>
  <label>
    Image URL:
    <input formControlName="URL" type="text" placeholder="https://">
  </label>
  <button type="submit" [disabled]="!modifyForm.valid">{{ isEditMode ? 'Update' : 'Add' }} Game</button>
  <button type="button" (click)="resetForm()">Reset</button>
</form>
